/* Header */
.contact-header {
  height: 70vh;
  background-image: url("/assets/Images/intro-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
input {
  border: 1px solid rgba(33, 37, 41, 0.26) !important;
}
iframe {
  display: block;
}
.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
}

/* Info Icons */
.icon-box {
  width: 50px;
  height: 50px;
  background: rgba(255, 193, 7, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.contact-info-item:hover .icon-box {
  background: #ffc107;
  color: #000 !important;
}

.contact-info-item:hover .icon-box i {
  color: #000 !important;
}

/* Social Buttons */
.social-btn {
  display: inline-flex;
  width: 45px;
  height: 45px;
  border: 1px solid #333;
  color: #000000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
  transition: 0.3s;
  text-decoration: none;
}

.social-btn:hover {
  background: #ffc107;
  border-color: #ffc107;
  color: #000;
}

/* Form Styles */
.form-control:focus {
  background-color: transparent;
  color: #fff;
  border-color: #ffc107;
  box-shadow: none;
}

.submit {
  background-color: var(--gold-color);
}

.card {
  background: rgb(33 37 41 / 7%) !important;
}
