/* You can add global styles to this file, and also import other style files */
body {
  overflow-x: hidden;
}
:root {
  --gold-color: #ffc65d;
  --bg-dark: #0f0f0f;
  --bg-card: #161616;
  --text-muted: #b0b0b0;
}
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&family=Montserrat:wght@300;400;500&display=swap");

/* ============ General Styles ============ */
.font-serif {
  font-family: "Playfair Display", serif;
}

.font-sans {
  font-family: "Montserrat", sans-serif;
}
