/* You can add global styles to this file, and also import other style files */
body {
  overflow-x: hidden;
}
:host {
  --gold-color: #c5a47e;
  --bg-dark: #0f0f0f;
  --bg-card: #161616;
  --text-muted: #b0b0b0;
}
