/* head section  */
.main-container-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/Images/36.jpg");
  background-size: cover;
  background-position: center;
}
.banner {
  color: white;
  height: 75vh;
  margin-top: -20px;
}

.banner h2 {
  font-size: 52px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
/* cofee section */
.coffee-section {
  padding: 80px 0;
  background: #fff;
  position: relative;
}
.coffee-section hr,
.coffee-section-2 hr,
.coffe-cups hr {
  width: 50px;
  color: rgb(255, 157, 0);
  border: 1px solid rgb(255, 157, 0);
  border-radius: 20px;
  opacity: 1 !important;
}
.coffee-img {
  display: block;
  width: 350px;
  position: relative;
  z-index: 2;
}
.coffee-img::after {
  content: "";
  position: absolute;
  border: 2px solid rgba(207, 207, 207, 0.498);
  width: 100%;
  height: 100%;
  top: 10%;
  left: 15%;
  z-index: -1;
}
.coffee-content h3,
.coffee-content-2 h3 {
  font-family: "Playfair Display", serif;
}
.coffee-content p {
  font-size: 18px;
  color: #7e7e7e;
}
/* New Sletter Styling  */
.newSletter {
  background-color: #eee;
}
.newSletter p {
  font-size: 18px;
}
.newSletter form input {
  padding: 15px;
  border-radius: 0%;
  border: none;
}
.form-Btn-NewSletter {
  transition: 0.3s;
  text-transform: uppercase;
  border-radius: 0%;
  padding: 15px 30px;
  margin-left: 20px;
  font-weight: 500;
  border-color: rgb(255, 157, 0) !important;
}
