<!-- head section  -->
<div
  class="main-container-header d-flex flex-column bg-black pt-10 pt-md-8 pb-7 pb-md-0"
>
  <div
    class="banner d-flex flex-column justify-content-center flex-grow-1 text-center container"
  >
    <h2>About Us</h2>
  </div>
</div>
<!-- codffee section  -->
<section class="coffee-section mb-5">
  <div class="container">
    <div class="row">
      <!-- Left Text -->
      <div class="col-md-2">
        <hr />
        <p class="fs-lg lh-lg text-body-emphasis mb-5 mb-md-0">
          Take a coffee break<br />
          or enjoy a meal.
        </p>
      </div>

      <!-- Image -->
      <div class="col-md-4">
        <div class="coffee-img mb-5 mb-md-0">
          <img src="/assets/Images/2.jpg" alt="Coffee" class="img-fluid" />
        </div>
      </div>

      <!-- Right Text -->
      <div class="col-md-5 coffee-content align-self-center mx-auto">
        <h3><em>Always</em> amazing experience</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias
          veritatis nisi, consequatur, laborum libero a neque ducimus. Porro rem
          illum quo nostrum quisquam asperiores. Possimus facilis velit,
          voluptatibus!
        </p>
      </div>
    </div>
  </div>
</section>
<!-- NewSletter  -->
<section class="newSletter mt-5 p-5">
  <div class="row justify-content-center align-items-center p-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">
          <!-- heading  -->
          <h2 class="mb-2 display-1 font-serif text-warning">”</h2>
          <!-- subheading  -->
          <p class="mb-5 text-black text-opacity-75">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
            illo
            <br />praesentium sequi in cum, beatae maiores quae qui.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
